<div class="w-100 h-100 d-flex flex-column">
  
  <!-- Header -->
  <header>
    <div class="w-100">
      <nav class="navbar navbar-expand-lg" style="background-color: rgb(197, 194, 32);">          
            <div class="container-fluid">
              <a class="navbar-brand mb-0 h1" href="#">                
                <img src="assets/img/logo.jpg"  
                width="100" height="30" />                
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Our Team</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
  </header>

  <!-- Content -->
  
  <section>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/Carousel_1.PNG" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Für mehr Miteinander !</h5>
            <p>Deine Spende erreicht Menschen</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/Carousel_2.PNG" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Am Aussortieren ?</h5>
            <p>Mit uns bekommen deine Klamotten ein neues zu Hause</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/Carousel_3.PNG" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Weltweit !</h5>
            <p>Wir unterstützen Bedürftige aus der ganzen Welt</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>    
  
  <section>                  
    <div class="container padding-top-bottom-100">      
<!-- Card 1 -->
        <h1>Ihre Benefits</h1>
        <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col"> 
            <div class="card shadow-sm">
            <img class="card-image" src="assets/img/Card_1.PNG">
            <div class="card-body">
                <div class="card-text1">
                    Wähle ein Land !  
            </div> 
              <p class="card-text2">Entscheide wohin Deine Spende<br> gesendet wird</p>
            </div> 
            </div>
        </div>
    <!-- Card 2 -->
        <div class="col">
        <div class="card">
            <img class="card-image" src="assets/img/Card_2.PNG">
            <div class="card-body">
                <div class="card-text1">
                    Wähle die Klamotten ! 
            </div>
              <p class="card-text2">Enscheide über die Kleider-Art<br> Deiner Spende</p>
            </div>
            </div>
        </div>
    <!-- Card 3 -->
        <div class="col"> 
        <div class="card">
            <img class="card-image" src="assets/img/Card_3.PNG">
            <div class="card-body">
                <div class="card-text1">
                    Sei nachhaltig !  
            </div>
              <p class="card-text2">Mit Deiner Spende <br> agierst Du nachhaltig</p>
            </div>
            </div>
        </div>        
    <!-- Card 4 -->
        <div class="col"> 
        <div class="card">
            <img class="card-image" src="assets/img/Card_4.PNG">
            <div class="card-body">
                <div class="card-text1">
                    Werde Kleider-Held !  
            </div>
              <p class="card-text2">Spende und werde zu einem<br> Kleider-Held</p>
            </div>
           </div>
          </div>    
         </div> 
        </div>    
  </section>         
  
  <section>
    <div class="container padding-bottom-100 flex-grow-2">     
      <div class="row">
        <h1>Ihre Spende-Möglichkeiten</h1>
        <div class="col-sm-6 padding-bottom-20">
          <div class="card card-style">
            <div class="card-body">
              <h5 class="card-title"><span class="card-text3">Persönlich vorbeikommen</span></h5>
              <p class="card-text">Wählen Sie im Registrierungsformular hierzu die Option:<br>"Übergabe an der Geschäftsstelle"<br><br>
                <span> 
                  <span class="card-text4">Unsere Anschrift:</span><br>
                  GreenHero<br>
                  Fantasiestrasse, 8<br>
                  44787 Bochum
                </span>                
              </p>            
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-style">
            <div class="card-body">
              <h5 class="card-title"><span class="card-text3">Abholung veranlassen ?</span></h5>
              <p class="card-text">Wählen Sie im Registrierungsformular hierzu die Option:<br>"Abholung"</p>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Formular -->
  <div class="padding-bottom-100">
    <div class="d-flex flex-grow-1 align-items-center justify-content-center">  
      <form *ngIf="!registerComplete" class="d-flex flex-column form-style">
        <h1 class="padding-top">Registrierungsformular</h1>
        
        <!-- Art der Übergabe -->
        <mat-radio-group 
          aria-label="Bitte wählen Sie die Art der Übergabe aus" 
          [(ngModel)]="formValues.abholung"
          (change)="onSelectionChanged()"
          name="mode"
          class="my-4 ">

          <mat-radio-button [value]="false" [checked]="this.formValues.abholung === false">Übergabe an der Geschäftsstelle</mat-radio-button>
          <mat-radio-button [value]="true" [checked]="this.formValues.abholung === true">Abholung</mat-radio-button>
        
        </mat-radio-group>

        <!-- Kleidung -->
        <mat-select [(ngModel)]="formValues.clothOption" name="clothOption" placeholder="Bitte wählen Sie die Kleidung aus" class="my-4 padding-right-left-20">
          <mat-option *ngFor="let option of clothOptions" [value]="option.value">
            {{ option.display }}
          </mat-option>
        </mat-select>

        <!-- Krisengebiet -->
        <mat-select [(ngModel)]="formValues.area" name="areaOption" placeholder="  Bitte wählen Sie das Krisengebiet aus" class="my-4 padding-right-left-20">
          <mat-option *ngFor="let option of areaOptions" [value]="option.value">
            {{ option.display }}
          </mat-option>
        </mat-select>
                
        <!-- Vorname -->
        <mat-form-field class="my-4 padding-right-left-20">
          <input matInput
              type="text"
              placeholder="Bitte geben Sie Ihren Vornamen ein"
              [(ngModel)]="formValues.name"
              name="nameField">        
        </mat-form-field>

        <!-- Nachname -->
        <mat-form-field class="my-4 padding-right-left-20">
          <input matInput
              type="text"
              placeholder="Bitte geben Sie Ihren Nachnamen ein"
              [(ngModel)]="formValues.surname"
              name="surnameField">        
        </mat-form-field>

        <!-- Adresse -->
        <mat-form-field *ngIf="formValues.abholung" class="my-4 padding-right-left-20">
          <input matInput
              type="text"
              placeholder="Bitte geben Sie Ihre Abholadresse ein"
              [(ngModel)]="formValues.address"
              name="addressField">
        </mat-form-field>
        
        <!-- Registerbutton -->
        <button mat-button (click)="register()" class="my-4">Registrieren</button>

      </form>
      
      <!-- Übersicht nach Registrierung -->      
      <div *ngIf="registerComplete" class="d-flex flex-column text-style-1">
        <span class="text-primary text-style-2">Ihre Übersicht:</span><br><br>
        <span *ngIf="!formValues.abholung">Art der Abgabe: Übergabe</span><br>
        <span *ngIf="formValues.abholung">Art der Abgabe: Abholung</span><br><br>
        <span>Kleidung: {{formValues.clothOption}}</span><br><br>
        <span>Krisengebiet: {{formValues.area}}</span><br><br>                
        <span>Ihre Vorname: {{formValues.name}}</span><br><br>
        <span>Ihr Nachname: {{formValues.surname}}</span><br><br>
        <span *ngIf="formValues.abholung">Ihre Adresse: {{formValues.address}}</span><br><br>
        <span *ngIf="formValues.abholung">Ihre PLZ: {{formValues.zipCode}}</span>
      </div>
    </div>
</div>

  <!-- Footer -->
 <footer>
    <div class="w-100">
      <div class="footerContainer">
        <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>   
        <div class="footerNav">
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
          </ul>
        </div>
      </div>     
      <div class="footerBottom">
        <p>Copyright &copy;2023; Designed by <span class="designer">Andreas Rhein</span></p>
      </div>         
    </div>
 </footer>
</div>
